.date-range{ /* holds all the header elements */
    padding: 8px;
    margin: 6px;
    border: 4px dotted red;
}  
.to-and-from{/* date input container */
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 6px;
    border: 2px dotted green;
}   
/* all the header selectors are in the above group */



/* everything in the main is below */

.product-QTY-wrap{/* the wrapper for the data to be appended */
    display:flex; /*setting display to flex allows us to use justify-content: center*/
    justify-content: center;
    padding: 8px;
    margin: 6px;
    border: 4px dotted red;
}  
.products-wrapper{/* container for the products section and list (title and all) */
    padding: 8px;
    padding-right: 24px;
    margin: 2px;
    border: 2px dotted green
}  
#products-list-h3{/* title element. should read: 'Product title:' */
    padding: 4px;
    margin: 4px;
    border: 1px dotted blue;
}  

.quantities-wrapper{/* container for the products section and list (title and all) */
    padding: 8px;
    margin: 6px;
    border: 2px dotted green
}     


.QTY-wrapper{/* container for the 'QTY' selectors */
    padding: 8px;
    margin: 6px;
    border: 2px dotted green;
}  
#QTY{/* title element. should read: 'QTY:' */
    padding: 4px;
    margin: 4px;
    border: 1px dotted blue;
}   


#products-QTY{/* the 'ul' to append the quantities data to via 'li' */
    padding: 4px;
    margin: 4px;
    border: 1px dotted blue; /*li aren't sitting right*/
}  



 